///
/// Ethereal by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Video */

.video {
  display: inline-block;
  position: relative;
  border: 0;

  &.filtered {
    &:after {
      @include gradient-background;
      @include vendor('pointer-events', 'none');
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      z-index: 1;
    }

    &.tinted {
      &:after {
        @include gradient-background(true);
      }
    }
  }

  &[data-position] {
    video {
      @include vendor('object-fit', 'cover');
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &[data-position="top left"] {
    video {
      @include vendor('object-position', 'top left');
    }
  }

  &[data-position="top"] {
    video {
      @include vendor('object-position', 'top');
    }
  }

  &[data-position="top right"] {
    video {
      @include vendor('object-position', 'top right');
    }
  }

  &[data-position="right"] {
    video {
      @include vendor('object-position', 'right');
    }
  }

  &[data-position="bottom right"] {
    video {
      @include vendor('object-position', 'bottom right');
    }
  }

  &[data-position="bottom"] {
    video {
      @include vendor('object-position', 'bottom');
    }
  }

  &[data-position="bottom left"] {
    video {
      @include vendor('object-position', 'bottom left');
    }
  }

  &[data-position="left"] {
    video {
      @include vendor('object-position', 'left');
    }
  }

  &[data-position="center"] {
    video {
      @include vendor('object-position', 'center');
    }
  }

  &[data-position="25% 25%"] {
    video {
      @include vendor('object-position', '25% 25%');
    }
  }

  &[data-position="25% 50%"] {
    video {
      @include vendor('object-position', '25% 50%');
    }
  }

  &[data-position="75% 25%"] {
    video {
      @include vendor('object-position', '75% 25%');
    }
  }

  &[data-position="75% 75%"] {
    video {
      @include vendor('object-position', '75% 75%');
    }
  }

  &[data-position="25% 75%"] {
    video {
      @include vendor('object-position', '25% 75%');
    }
  }

  video {
    display: block;
  }

  &.left,
  &.right {
    max-width: 40%;

    video {
      width: 100%;
    }
  }

  &.left {
    float: left;
    padding: 0 1.5rem 1rem 0;
    top: 0.25rem;
  }

  &.right {
    float: right;
    padding: 0 0 1rem 1.5rem;
    top: 0.25rem;
  }

  &.fit {
    display: block;
    margin: 0 0 _size(element-margin) 0;
    width: 100%;

    video {
      width: 100%;
    }
  }

  &.main {
    display: block;
    margin: 0 0 (_size(element-margin) * 1.5) 0;
    width: 100%;

    video {
      width: 100%;
    }
  }
}